{% extends "layouts/layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid bg-light mt-5">
  <div class="container text-center p-3">
    <h4>"La principale leçon de l'Histoire est que l'espèce humaine est incapable d'apprendre."</h4>
    <em class="lead">Winston Churchill</em>
  </div>
</div>
{% endblock %}
